{% extends 'index.html' %}



{% block hero %}

<!-- Section Title -->

<!-- ............................................................................................. -->

<div class="section-title text-center">Latest News/Blog</div>

<!-- News and Blog Section -->
<div class="container news-blog-container mt-5">
    <div class="row">
        <!-- News Column -->
        <div class="col-lg-5 col-md-6  col-12 mb-4">
            <h4 class="news-blog-title text-center text-md-start">News</h4>
            <!-- News Cards -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="/static/images/girl.webp" class="img-fluid rounded-start" alt="News Image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">July 15, 2024</small></p>
                            <h5 class="card-title">GHIR has helped so many communities in terms of healthcare and shelter</h5>
                            <p class="card-text"><a href="#" class="btn btn-link">Read More...</a></p>
                            <p class="stats">
                                <span class="me-3"><i class="fa fa-eye"></i> 2k</span> 
                                <span class="me-3"><i class="fa-regular fa-comment"></i> 1k+</span> 
                                <span class="me-3"><i class="fa-regular fa-heart"></i> 1k+</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat the news card for other entries -->
        </div>

        <!-- Blog Column -->
        <div class="col-xl-5 col-md-6 col-12  mb-4 ">
            <h4 class="news-blog-title text-center text-md-start">Blogs</h4>
            <!-- Blog Cards -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="/static/images/girl.webp" class="img-fluid rounded-start" alt="Blog Image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">July 15, 2024</small></p>
                            <h5 class="card-title">GHIR has helped so many communities in terms of healthcare and shelter</h5>
                            <p class="card-text"><a href="#" class="btn btn-link">Read More...</a></p>
                            <p class="stats">
                                <span class="me-3"><i class="fa fa-eye"></i> 2k</span> 
                                <span class="me-3"><i class="fa-regular fa-comment"></i> 1k+</span> 
                                <span class="me-3"><i class="fa-regular fa-heart"></i> 1k+</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repeat the blog card for other entries -->
        </div>
    </div>
</div>

{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
