{% extends 'index.html' %}

{% block hero %}
<body class="bg-light">  
    <div class="container mt-5">  
        <h2>Filter</h2>  
        <form method="POST">  
            <div class="mb-3 col-md-6">  
                <label for="specialty" class="form-label">Specialty</label>  
                <input type="text" class="form-control" id="specialty" name="specialty" placeholder="Doctor's Specialty">  
            </div>  
            <div class="mb-3 col-md-6">  
                <label for="location" class="form-label">Enter Location</label>  
                <input type="text" class="form-control" id="location" name="location" placeholder="City or Zip code">  
                <small><a href="#" class="text-primary"><i class="fa-solid fa-location-dot"> Use My Location</i></a></small>  
            </div>  
            <div class="mb-3 col-md-6">  
                <label class="form-label">Gender</label><br>  
                <input type="radio" name="gender" value="Male"> Male<br>  
                <input type="radio" name="gender" value="Female"> Female  
            </div>  
            <div class="mb-3 col-md-6">  
                <label class="form-label">Language</label><br>  
                <input type="checkbox" name="language" value="English"> English<br>  
                <input type="checkbox" name="language" value="Spanish"> Spanish<br>  
                <input type="checkbox" name="language" value="French"> French<br>  
                <input type="checkbox" name="language" value="German"> German<br>  
                <input type="checkbox" name="language" value="Chinese"> Chinese  
            </div>  
            <div class="mb-3 col-md-6">  
                <label for="date" class="form-label">Availability</label>  
                <div class="mb-3">  
                    <input type="date" name="availability_date" id="availability_date" class="form-control " required>  
                </div>  
                <input type="time" class="form-control mt-2" name="time">  
            </div>  
            <div class="mb-3 col-md-6">  
                <button type="submit" class="btn btn-primary">Apply</button>  
            </div>
        </form>  
    </div>  
{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
