{% extends 'index.html' %}

{% block hero %}

<div class="container">
    <form id="forgotPasswordForm" class="user" action="{{ url_for('forgot_password') }}" method="POST">  
        <div class="mb-3">  
            <input class="form-control form-control-user" type="email" id="exampleInputEmail" placeholder="Enter your email" name="email" required>  
        </div>  
        <button class="btn d-block btn-user w-100" type="submit" style="background-color: #64B5F5; color: #fff;">Send Reset Link</button>  
    </form>  
    
    <div id="forgotPasswordResponse"></div> 
</div>
{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
