
{% extends 'index.html' %}

{% block about %}

<div class="body-involved">
    <header class="hero-involved mb-5">  
        <h1>Get Involved</h1>  
    </header>  
<br>
    <div class="container my-5 mt-5"> 
       <div class="row mb-5">
        <div class="col-md-6">
            <img src="../static/images2/Frame 705.webp" alt="get_involved" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="display-3 mt-5">Why Get Involved in <span class="fw-bold">GHRI’s projects</span></h2>  
            <p>Lorem ipsum dolor sit amet, consecteturlor sit amet, consecteturlor sit amet, consecteturlor sit amet, consecteturlor sit amet,
                 consecteturlor sit amet, consectetur adipiscing elit. Proin egestas urna eu mauris ultricies, ac facilisis nunc viverra.</p>  
        </div> 
        
        </div>

    <div class="mb-5">
        <h3>How it helps us</h3>  
    <ul>  
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>  
        <li>Proin egestas urna eu mauris ultricies, ac facilisis nunc viverra.</li>  
        <li>Proin egestas urna eu mauris ultricies, ac facilisis nunc viverra.</li>  
    </ul>  
    </div>



        <div>
            <h2>How you can Get started with us</h2>  
        <div class="accordion" id="getInvolvedAccordion">  
            <div class="accordion-item">  
                <h2 class="accordion-header" id="headingDonate">  
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDonate" aria-expanded="true" aria-controls="collapseDonate">  
                        Donate  
                    </button>  
                </h2>  
                <div id="collapseDonate" class="accordion-collapse collapse" aria-labelledby="headingDonate" data-bs-parent="#getInvolvedAccordion">  
                    <div class="accordion-body">  
                        {% include 'donate_include.html' %} 
                    </div>  
                </div>  
            </div>  
            <div class="accordion-item my-5">  
                <h2 class="accordion-header" id="headingVolunteer">  
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVolunteer" aria-expanded="false" aria-controls="collapseVolunteer">  
                        Volunteer  
                    </button>  
                </h2>  
                <div id="collapseVolunteer" class="accordion-collapse collapse" aria-labelledby="headingVolunteer" data-bs-parent="#getInvolvedAccordion">  
                    <div class="accordion-body">  
                       {% include 'volunteer_include.html' %}  
                    </div>  
                </div>  
            </div>  
            <div class="accordion-item my-5">  
                <h2 class="accordion-header" id="headingPartner">  
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartner" aria-expanded="false" aria-controls="collapsePartner">  
                        Partner with us  
                    </button>  
                </h2>  
                <div id="collapsePartner" class="accordion-collapse collapse" aria-labelledby="headingPartner" data-bs-parent="#getInvolvedAccordion">  
                    <div class="accordion-body">  
                        {% include 'partner_include.html' %}  
                    </div>  
                </div>  
            </div>  
        </div> 
        </div>
</div>

        {% endblock about %}

        {% block hero %}
{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
