{% extends 'index.html' %}



{% block hero %}
<div class="container mt-5 form-container">
    <h2 class="form-title">Medical Consent Form</h2>
    <form>
        <!-- List of Consent Points -->
        <ol class="mb-4">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>

        <!-- Consent Acknowledgement -->
        <div class="terms">By signing below you acknowledge that:</div>
        <div class="checkboxes">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="consent1">
                <label class="form-check-label" for="consent1">
                    You fully understand and accept the terms mentioned above.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="consent2">
                <label class="form-check-label" for="consent2">
                    You authorize the release of any medical or other information necessary to process insurance claims.
                </label>
            </div>
        </div>

        <!-- Next Button -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>
{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}