

<div class=" mb-5">

    <h3>Training Programs</h3>
</div>
<div class="container">
    <div class="row donate-process mb-5">
        <div class="col-md-5 train">
            <img src="../static/images2/train1.png" class="hospital-img img-fluid train1" alt="Main Hospital">
            <img src="../static/images2/train2.png" class="hospital-img img-fluid train2" alt="Main Hospital">
        </div>
        <div class="col-md-7">
            <p>We are constructing state-of-the-art hospitals to provide quality healthcare services to communities in need.
                We are constructing state-of-the-art hospitals to provide quality
                healthcare services to communities in need state-of-the-art hospitals to provide quality</p>
                <div class="row text-center mt-4">
                    <div class="col-4 info-box">
                        <h4 class="text-primary" >10</h4>
                        <p>Number of Hospitals built</p>
                    </div>
                    <div class="col-4 info-box">
                        <h4 class="text-primary">100+</h4>
                        <p>Communities served</p>
                    </div>
                    <div class="col-4 info-box">
                        <h4 class="text-primary">10+</h4>
                        <p>Partners</p>
                    </div>
                </div>
        </div>
    </div>

    <div class="text-center mt-4">  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas urna eu mauris ultricies consectetur adipiscing elit. Proin egestas urna eu mauris ultricies
            consectetur adipiscing elit. Proin egestas urna eu mauris ultricies
            , ac facilisis nunc viverra. Nullam a volutpat turpis. Suspendisse potenti. Cras in ante a metus ornare cursus. Integer quis leo dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sed purus non nisi.</p>  
    </div>  

    <div class="row">  
        <div class="col-md-4">  
            <img src="image1.jpg" class="img-fluid" alt="Training Image 1">  
        </div>  
        <div class="col-md-4">  
            <img src="image2.jpg" class="img-fluid" alt="Training Image 2">  
        </div>  
        <div class="col-md-4">  
            <img src="image3.jpg" class="img-fluid" alt="Training Image 3">  
        </div>  
    </div>  


    <div class="donation-link">  
        <p>Do you want to donate? we would really appreciate it</p>  
        <a href="https://www.ghri/building-hospitals/donate?26y6NUJ870a" class="text-dark">https://www.ghri/building-hospitals/donate?26y6NUJ870a</a>  
    </div>  
</div>  