




<section id="building-hospitals" class="container mt-5">
    <h3 class="text-primary">Awareness Campaigns</h3>
    <div class="row donate-process mb-2">
        <div class="col-md-5 train">
            <img src="../static/images2/aware1.png" class="hospital-img img-fluid train1" alt="Main Hospital">
            <img src="../static/images2/aware2.png" class="hospital-img img-fluid train2" alt="Main Hospital">
            
        </div>
        <div class="col-md-7">
            <p>We are constructing state-of-the-art hospitals to provide quality healthcare services to communities in need.
                We are constructing state-of-the-art hospitals to provide quality
                healthcare services to communities in need state-of-the-art hospitals to provide quality</p>
                <div class="row text-center mt-4">
                    <div class="col-4 info-box">
                        <h4 class="text-primary">10</h4>
                        <p>Number of Hospitals built</p>
                    </div>
                    <div class="col-4 info-box">
                        <h4 class="text-primary">100+</h4>
                        <p>Communities served</p>
                    </div>
                    <div class="col-4 info-box">
                        <h4 class="text-primary">10+</h4>
                        <p>Partners</p>
                    </div>
                </div>
        </div>
    </div>





    <div class="row mt-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
             egestasLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestasLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestasLorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas
             urna eu mauris ultricies, ac facilisis nunc viverra. Nullam a volutpat turpis ac facilisis nunc viverra. Nullam a volutpat turpis. Suspendisse potenti. Cras in ante a metus ornare cursus.</p>
    </div>

    <div class="row mt-4">
        <div class="col-6 col-md-4">
            <img src="hospital-1.jpg" class="hospital-img img-fluid" alt="Hospital 1">
        </div>
        <div class="col-6 col-md-4">
            <img src="hospital-2.jpg" class="hospital-img img-fluid" alt="Hospital 2">
        </div>
        <div class="col-6 col-md-4">
            <img src="hospital-3.jpg" class="hospital-img img-fluid" alt="Hospital 3">
        </div>
    </div>

    <div class="row mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas urna eu mauris ultricies, ac facilisis nunc viverra. Nullam a volutpat turpis. Suspendisse potenti.</p>
    </div>

    <div class="row donation-link text-center">
        <p>Do you want to donate? we would really appreciate it</p>
        <div class="col-md-10 mx-auto">
            <input type="text" class="form-control donation-input" value="https://www.ghri/building-hospitals/donate?26y6N" readonly id="donationLink">
            <button class="btn btn-light mt-2" id="copyButton">
                <i class="fas fa-copy"></i>
            </button>
        </div>
    </div>
</section>
