{% extends 'index.html' %}


{% block hero %}


  <!-- Search Bar -->  
<div class="container my-4 d-flex justify-content-around mt-5 mb-5">  
    <form action="{{ url_for('doc_search') }}" method="POST" class="d-flex">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" class="form-control w-80" placeholder="Search doctor by name, field, major etc" name="search_query" required>  
        <button type="submit" class="contact-btn ms-2">Search</button>  
    </form>
</div>  

<!-- Top Rated Doctors -->  
<div class="container my-4">  
    <h2>Search Results</h2>  
    <div class="row row-cols-xl-4">  
        {% for doctor in doctors %}
        <div class="col-md-3">  
            <div class="doctor-card">  
                <img src="../static/images2/image-6.png" class="doctor-img" alt="Doctor Image">  
                <h5>Dr. {{ doctor.full_name }}</h5>  <!-- Doctor's full name -->
                <p>{{ doctor.hospital_name }}</p>  <!-- Hospital name -->
                <!-- <p>4.5 ★</p>   -->
                <p>{{ doctor.specialty }} <i class="fas fa-star"></i></p> <!-- Specialist --> 
                <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read more ></button>  
                <a href="{{url_for('appointment')}}" class="btn contact-btn">Book now</a>  
            </div>  
        </div>  
        {% else %}
        <div class="col-md-12">
            <p>No results found for your search.</p>
        </div>
        {% endfor %}
    </div>  
</div>    

  <!-- Newsletter Section -->
  <section id="newsletter" class="py-5 text-center ">
    <div class="container row">
        <div class="col-md-6 mb-2">
            <img src="../static/images2/footer kite plane image.png" alt="" class="arroww img-fluid">
            <img src="../static/images2/dotted line on footer under the blue plane image.png" alt="" class="dott img-fluid">
            <h3 class="text-dark">Join our Newsletter</h3>
            <p class="text-dark">Get the latest healthcare updates delivered to your inbox.</p>
        </div>
     
        <div class="col-md-6 mb-2 mt-4">

            <form class="d-flex justify-content-center ">
                <input type="email" class="form-control w-50" placeholder="Enter your email">
                <button type="submit" class="btn news-btn ms-2 ">learn more</button>
            </form>
        </div>
    </div>
</section>


<!-- this will be for the bot side -->
<div class="col">
    <a class="arrow" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i><img src="../static/images2/bot.png" alt="" width="50px"></i></a>

</div>




<!-- offcanvas for the chat bot start-->
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">I WILL INCLUDE THE BOT GUI HERE!</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
   {# {% include 'FrontEndd.html' %} #}
</div>
</div>



<!-- modal section for the Book Now for Doctors start -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Doctor's Info...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">  
            {% for doctor in doctors %}
            <div class="col-md-9 align-items-center">  
                <!-- <div class="doctor-card">   -->
                    <p class="align-items-center">

                      <img src="../static/images2/image-6.png" class="doctor-img " alt="Doctor Image">  
                    </p>
                    <h5>Name: <br> Dr. {{ doctor.full_name }}</h5>  <!-- Doctor's full name -->
                    <p>Hospital Name: {{ doctor.hospital_name }}</p>  <!-- Hospital name -->
                    <p>{{ doctor.specialty }} <i class="fas fa-star"></i></p> <!-- Specialist --> 

                    <p>Bio : <br> {{ doctor.bio }}</p>  <!-- Hospital name -->
                   
            </div>  
            {% else %}
            <div class="col-md-12">
                <p>No results found for your search.</p>
            </div>
            {% endfor %}
        </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn contact-btn" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        </div>
      </div>
    </div>
  </div>
<!-- modal section for the Book Now for Doctors end -->
{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
