{% extends 'index.html' %} {% block hero %}

<!-- Header Section -->
<div class="em_header text-center">
  <h1>Emergency Roll</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 py-4 mt-4 text-center em_contact">
      <h3>Emergency Contacts</h3>
    </div>
  </div>
  <!-- Services Section -->

  <div class="container mt-4">
    <!-- row1 -->
    <div
      class="row mb-4 d-flex justify-content-around align-items-center em_bg"
    >
      <div class="col-md-6 em1">
        <div class="em_service-card mx-5 ">
          <h5 class="mt-3">Emergency Call</h5>
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
      <div class="col-md-6 em2">
        <div class="em_service-card  mx-5 ">
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <h5 class="mt-3">Ambulance Service</h5>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
    </div>

    <!-- row2 -->
    <div class="row mb-4 d-flex em_bg">
      <div class="col-md-6 d-flex align-items-center em1">
        <div class="em_service-card flex-fill mx-5">
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <h5 class="mt-3">Ambulance Service</h5>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center em2">
        <div class="em_service-card flex-fill mx-5">
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <h5 class="mt-3">Ambulance Service</h5>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
    </div>

    <!-- row3 -->
    <div class="row mb-4 d-flex em_bg">
      <div class="col-md-6 d-flex align-items-center em1">
        <div class="em_service-card flex-fill mx-5">
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <h5 class="mt-3">Ambulance Service</h5>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center em2">
        <div class="em_service-card flex-fill mx-5">
          <div class="service-icon"><i class="fas fa-ambulance"></i></div>
          <h5 class="mt-3">Ambulance Service</h5>
          <p>24/7 ambulance service available for emergency needs.</p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 mb-4">
      <div class="em_service-card">
        <div class="service-icon"><i class="fas fa-user-md"></i></div>
        <h5 class="mt-3">On-call Specialists</h5>
        <p>Specialist doctors available for critical cases.</p>
      </div>
    </div> -->
  </div>
  
  <div class="text-center py-5">
    <h5 class="display-5">
      Why Get Involved in <br />
      <span class="fw-bold">GHRI'S projects</span>
    </h5>
    <p class="display-7">
      "Your support is crucial in helping us chieve our mission,wether through
      donation,volunteering or <br> partnership. you can make a significant impact on
      healthcare in Nigeria"
    </p>
  </div>

  <!-- Call to Action Section -->
  <div class="cta-section mt-5 mb-5">
    <img
      src="../static/images2/image-4.png"
      class="img-fluid em_pix"
      alt="emergency"
    />
  </div>
</div>


  <!-- Newsletter Section -->
  <section id="newsletter" class="py-5 text-center ">
    <div class="container row">
        <div class="col-md-6 mb-2">
            <img src="../static/images2/footer kite plane image.png" alt="" class="arroww img-fluid">
            <img src="../static/images2/dotted line on footer under the blue plane image.png" alt="" class="dott img-fluid">
            <h3 class="text-dark">Join our Newsletter</h3>
            <p class="text-dark">Get the latest healthcare updates delivered to your inbox.</p>
        </div>
     
        <div class="col-md-6 mb-2 mt-4">

            <form class="d-flex justify-content-center ">
                <input type="email" class="form-control w-50" placeholder="Enter your email">
                <button type="submit" class="btn news-btn ms-2 ">learn more</button>
            </form>
        </div>
    </div>
</section>

{% endblock hero %} {% block introduction %} {% endblock introduction %} {%
block initiatives %} {% endblock initiatives %} {% block impact_stories %} {%
endblock impact_stories %} {% block getinvolved %} {% endblock getinvolved %} {%
block blog %} {% endblock blog %} {% block contact %} {% endblock contact %}
