
{% extends 'index.html' %}




{% block hero %}

<!-- Hero Section -->
<section class="container-fluid hero-section-services  text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Our Services</h1>
        <p class="lead">Discover our range of services to meet all your needs</p>
        
    </div>
</section>

<!-- Services Section -->
<section id="services" class="services-section container">
    
    <div class="row g-4 service-in">
        <!-- Service Card 1 -->
        <div class="col-md-4 mb-5">
            <div class="card service-card card_service h-100">
                <div class="card-body  text-center">
                    
                     <img src="../static/images2/Frame 239.svg" alt="ambulance-img" class="mb-3">
                    <h5 class="card-title fw-bold mt-5">Emergency Care contact</h5>
                    <p class="card-text">Must be the priority for any Health Care.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Service Card 2 -->
        <div class="col-md-4 mb-5">
            <div class="card service-card card_service h-100">
                <div class="card-body text-center">
                    <!-- <i class="fas fa-chart-line fa-3x mb-3"></i> -->
                     <img src="../static/images2/Frame 241.svg" class="mb-3" alt="helping-hands">
                    <h5 class="card-title fw-bold mt-5">Telemed</h5>
                    <p class="card-text">Book sessions with a Medical practitioner.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Service Card 3 -->
        <div class="col-md-4 mb-5">
            <div class="card service-card card_service h-100">
                <div class="card-body text-center">
                    
                     <img src="../static/images2/Frame 241-1.svg" class="mb-3" alt="network">
                    <h5 class="card-title fw-bold mt-5">Hospitality and Health Care</h5>
                    <p class="card-text">Clinical excellence <br> must be the priority.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row g-4 mt-5 service-out">
        <!-- Service Card 1 -->
        <div class="col-md-4 py-5  services2">
            <div class="card service-card card_service h-100">
                <div class="card-body text-center">
                    <img src="../static/images2/Frame 239.svg" class="mb-3" alt="ambulance-img">

                    <h5 class="card-title fw-bold mt-5">Emergency Care contact</h5>
                    <p class="card-text">Must be the priority for any Health Care.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Service Card 2 -->
        <div class="col-md-4 py-5 services2">
            <div class="card service-card card_service h-100">
                <div class="card-body text-center">
                    <img src="../static/images2/Frame 241.svg" class="mb-3" alt="helping-hands">

                    <h5 class="card-title fw-bold mt-5">Telemed</h5>
                    <p class="card-text">Book sessions with a Medical practitioner.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
        <!-- Service Card 3 -->
        <div class="col-md-4 py-5 services2">
            <div class="card service-card card_service h-100">
                <div class="card-body text-center">
                    <img src="../static/images2/Frame 241-1.svg" class="mb-3" alt="network">

                    <h5 class="card-title fw-bold mt-5">Hospitality and Health Care</h5>
                    <p class="card-text">Clinical excellence <br> must be the priority.</p>
                    <a href="#" class="contact-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row service_img">
    <div class="col ">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
    </div>
</div>

<div class="text-center py-5">
    <h5 class="display-5">
      Why Get Involved in <br />
      <span class="fw-bold">GHRI'S projects</span>
    </h5>
    <p class="display-7">
      "Your support is crucial in helping us chieve our mission,wether through
      donation,volunteering or <br> partnership. you can make a significant impact on
      healthcare in Nigeria"
    </p>
  </div>

  <!-- Call to Action Section -->
  <div class="cta-section mt-5 mb-5">
    <img
      src="../static/images2/image-4.png"
      class="img-fluid em_pix"
      alt="emergency"
    />
  </div>

{% endblock hero %}

{% block introduction %}
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}
