{% extends 'index.html' %}


{% block hero %}

<script>
    // Display a SweetAlert popup when the page loads
    document.addEventListener("DOMContentLoaded", function() {
        Swal.fire({
            title: 'Thank You!',
            text: 'Your submission was successful.',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            // Redirect to the homepage or another page after the user clicks "OK"
            if (result.isConfirmed) {
                window.location.href = "{{ url_for('index') }}"; // change to the appropriate URL
            }
        });
    });
</script>



{% endblock hero %}

{% block introduction %}
 
{% endblock introduction %}

{% block initiatives %}
{% endblock initiatives %}

{% block impact_stories %}
{% endblock impact_stories %}

{% block getinvolved %}
{% endblock getinvolved %}

{% block blog %}
{% endblock blog %}

{% block contact %}
{% endblock contact %}